PROJECT42_VERSION=0.51.0
PROJECT42_PUBLIC_URL=http://localhost:8787
PROJECT42_INSTALLATION_ID=example-installation
PROJECT42_ALLOWED_ORIGINS=http://localhost:3000
PROJECT42_DATABASE_PASSWORD=replace-with-a-long-random-password
PROJECT42_IDENTITY_ADMIN_PASSWORD=replace-with-a-different-long-random-password
PROJECT42_OIDC_ISSUER=http://localhost:8080/realms/project42
PROJECT42_OIDC_AUDIENCE=project42-api
PROJECT42_OIDC_JWKS_URL=http://identity:8080/realms/project42/protocol/openid-connect/certs
